<a href="https://colab.research.google.com/github/johnwesleyharding/DS-Unit-1-Sprint-2-Statistics/blob/master/JWH_assignment_DS_121_Statistics_Probability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE
import pandas as pd
import scipy.stats
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel, ttest_1samp, stats
import numpy as np
import seaborn as sns
from matplotlib import style

In [2]:
# Getting started with the assignment
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-10-07 20:17:32--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.3’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2019-10-07 20:17:33 (127 KB/s) - ‘house-votes-84.data.3’ saved [18171/18171]

In [3]:
# Load Data
df = pd.read_csv('house-votes-84.data', 
                 header=None,
                 names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [4]:
df = df.replace({'?':np.NaN, 'n':0, 'y':1})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [5]:
df.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           423.000000     387.000000  ...  407.000000    331.000000
mean              0.442080       0.503876  ...    0.427518      0.812689
std               0.497222       0.500632  ...    0.495327      0.390752
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [6]:
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [7]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [8]:
dem = df[df['party'] == "democrat"]
print(dem.shape)
dem.head()

(267, 17)

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [9]:
rep = df[df['party'] == "republican"]
print(rep.shape)
rep.head()

(168, 17)

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [0]:
def partyttest(series):
  
  print(ttest_ind(rep[series], dem[series], nan_policy='omit'))
  
  yay = (df[series] == 1.0).sum()
  nay = (df[series] == 0.0).sum()
  print(f'Pass? Yay: {yay} Nay: {nay}', '\n')

In [0]:
def testall(dataframe):
  
  for i in range(1,len(df.columns)):
    
    print(df.columns[i])
    partyttest(df.columns[i])

In [82]:
testall(df)

handicapped-infants
Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)
Pass? Yay: 187 Nay: 236

water-project
Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)
Pass? Yay: 195 Nay: 192

budget
Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)
Pass? Yay: 253 Nay: 171

physician-fee-freeze
Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)
Pass? Yay: 177 Nay: 247

el-salvador-aid
Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)
Pass? Yay: 212 Nay: 208

religious-groups
Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)
Pass? Yay: 272 Nay: 152

anti-satellite-ban
Ttest_indResult(statistic=-12.526187929077842, pvalue=8.521033017443867e-31)
Pass? Yay: 239 Nay: 182

aid-to-contras
Ttest_indResult(statistic=-18.052093200819733, pvalue=2.82471841372357e-54)
Pass? Yay: 242 Nay: 178

mx-missile
Ttest_indResult(statistic=-16.437503268542994, pvalue=5.03079265310811e-47)
Pass? Yay: 207 Nay: 206

immigration
Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)
Pass? Yay: 216 Nay: 212

synfuels
Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15)
Pass? Yay: 150 Nay: 264

education
Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)
Pass? Yay: 171 Nay: 233

right-to-sue
Ttest_indResult(statistic=13.51064251060933, pvalue=1.2278581709672758e-34)
Pass? Yay: 209 Nay: 201

crime
Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)
Pass? Yay: 248 Nay: 170

duty-free
Ttest_indResult(statistic=-12.853146132542978, pvalue=5.997697174347365e-32)
Pass? Yay: 174 Nay: 233

south-africa
Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)
Pass? Yay: 269 Nay: 62

In [49]:
rep['el-salvador-aid'].value_counts()

1.0    157
0.0      8
Name: el-salvador-aid, dtype: int64

In [50]:
dem['el-salvador-aid'].value_counts()

0.0    200
1.0     55
Name: el-salvador-aid, dtype: int64

In [47]:
ttest_1samp(dem['el-salvador-aid'], 0, nan_policy='omit')

Ttest_1sampResult(statistic=8.357631243360764, pvalue=4.2308289907515245e-15)

In [48]:
ttest_1samp(rep['el-salvador-aid'], 0, nan_policy='omit')

Ttest_1sampResult(statistic=56.73182528352142, pvalue=1.0573299896233442e-109)

In [77]:
yay = (df[series] == 1.0).sum()
nay = (df[series] == 0.0).sum()
print(f'Pass? Yay: {yay} Nay: {nay}')

Pass? Yay: 212 Nay: 208

In [0]:
#p_value = stats.chi2.sf(chi_squared, dof)
#chi_squared, p_value, dof, expected = stats.chi2_contingency(contingency)